/* Make Custom CSS Script/Code here */

html {
	scroll-behavior: smooth;
	user-select: none;
	cursor: context-menu;
}

#explore:hover {
	background-color: #D29600;
	color: black;
	transition: 1s ease;
}

#catatan,
#complaint {
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
}

#syarat:target,
#syarat::target-text {
	background: yellow;
}

#trash:hover {
	color: crimson;
}

/* Terpopuler Hari Ini */

@keyframes populer {
	0% {
		color: black;
	}

	35% {
		color: goldenrod;
	}

	65% {
		color: goldenrod;
	}

	100% {
		color: black;
	}
}


#highlight {
	animation-name: populer;
	animation-duration: 5s;
	animation-iteration-count: 7;
}

/* Akhir CSS Terpopuler Hari Ini */

.rounded {
	border-radius: 1rem
}

.nav-pills .nav-link {
	color: #555
}

.nav-pills .nav-link.active {
	color: white
}

.bold {
	font-weight: bold
}